/*-- scss:defaults --*/

// Colors
/*
$color: #000 !default
$light: lighten($color, 15%) !default
$dark: darken($color, 15%) !default
*/
p {
    max-width: 750px;
}




/*    color: $color
    font-family: "Times New Roman", serif
    font-size: medium
    &.light
        color: $light
    &.dark
        color: $dark
*/
/*-- scss:rules --*/
